{
    "type": "item",
    "subType": "mscr-radio",
    "css": [],
    "resources": [],
    "dependencies": [
        "react",
        "react-dom",
    ],
    "localDependencies": {
        "libs-player-ui-components": "http://localhost:4500/libs-player-ui-componets.js"
    }
}
