{
    "type": "item",
    "subType": "mcsr-radio",
    "css": [],
    "resources": [],
    "dependencies": [
        "react",
        "react-dom",
        "libs-player-ui-components"
    ],
    "localDependencies": {
    }
}
